<%- include("header") %>
<div class="text-light bg-dark">
    <h1 class="text-center"> <b>Hii friend,</b></h1>

        <h2>• My school name is Central Academy</h2>
        
        <h2>• It is a CBSE and world's best school for me.</h2>
        
        <h2>• I like my school sometimes I think that always I live in my school only not go to home.</h2>
        
        <h2>• Every month we have competitions, activities, games, book fair etc.</h2>
        
        <h2>• I m having lot of friends and I love my teachers.</h2>
        
        <h2>• The best place I like in this world is my school.</h2>
        
        <h2>• I love studies our teachers teaches us many things and they teaches in so interesting way.</h2>
        
        <h2>• My school is in every city of India.</h2>
        
        <h2>• It has many branches.</h2>
        
        <h2>• But my branch is CHB</h2>
        
        <h2>• My school is having four buildings.</h2>
        <h3> Hope this helps u.................................</h3>
</div>