<%- include("header") %>

<div class="container-fluid"  style="background-color: rgb(73, 157, 195);">
    <h1 class="text-center" style="font-weight: bold;" >Our School Best Faculty</h1>
</div>
<Br />
<Br />
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-dark table-bordered table-striped table-hover">
               <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Subject</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Rohit</td>
                    <td>Indore</td>
                    <td>English</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Megha</td>
                    <td>Indore</td>
                    <td>Hindi</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>krishna</td>
                    <td>Bhopal</td>
                    <td>Math</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Rahul</td>
                    <td>Indore</td>
                    <td>Scince</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Abhijeet</td>
                    <td>Indore</td>
                    <td>History</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>karuna</td>
                    <td>Indore</td>
                    <td>G.k</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Chetna</td>
                    <td>Solapur</td>
                    <td>Computer</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>