<html>
    <head>
        <link type="text/css" rel="stylesheet" href= "style.css" />

    </head>
    <body>
        <div class="header">
            <div class="wrapper">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim culpa delectus, unde, corporis omnis obcaecati necessitatibus sint, magnam non quod quaerat at modi placeat optio rerum aliquam perferendis ea maxime!
        </div>
        <div class="content">
            <div class="wrapper">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis laboriosam quisquam dolorem a commodi quaerat similique deleniti quas, delectus placeat explicabo tempore nobis ipsum! Enim sunt qui necessitatibus voluptate iste.
            </div>
        </div>
        <div class="footer">
            <div class="wrapper">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maxime ad reprehenderit beatae nemo laboriosam quas iusto inventore ut? Voluptatem tempora in ratione quia assumenda molestias, consectetur at iusto a.
            </div>
    </body>
</html>