body{
    margin: 0;
    padding: ;
    background-color: black;
}
.header{
    background-color: #A5C73A;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: ;
    height: ;
    width: 100%;

    
)
