.top-header{
    background-color: black;
}
.text-blue{
    color: rgb(185, 230, 236);
}
.navbar .nav .nav-item .nav-link{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
.navbar .nav .nav-item .nav-link:hover{
    color: rgb(185, 230, 236);
}
#menu{
    color: skyblue;
}