<%- include('header') %>
<div>
    <h1>about pages</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit laborum dolor possimus cum fuga blanditiis temporibus eaque! Nisi debitis totam hic sit repellendus, veniam reprehenderit fuga itaque facere inventore quo!</p>

</div>

