<%- include('header') %>
<div>
    <h1>contact pages</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis quae saepe, voluptatem, accusamus dolorem sed, laborum porro error esse eveniet ipsum cumque exercitationem corrupti quisquam vel odit vero nihil earum.</p>
</div>
