<%- include('header') %> 
<div>
  <h1>Home page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ducimus distinctio natus error neque sapiente, quas reiciendis laborum similique voluptatibus dolorem minus harum vero quia aperiam enim, sit possimus laboriosam.</p>
</div>
<%- include('footer') %>
