<%- include("header") %>
    <div class="container mt-4" style="min-height: 600px;">
        <div class="row">
            <div class="col-md-12" style="background-color: aqua;">
                <h4 class="text-center" style="text-align: center;">All product</h4>
            </div>
        </div>



        <div class="row">
            <% product.forEach(function(x){ %>

            
            <div class="col-md-2 my-3">
                
                <div class="card">
                    <img src="/<%=  x.image %>" style="height: 170px;" class="card-img-top">
                    <div class="card body">
                        <p class="m-0 p-0 text-center"><b><%= x.titlle %></b></p>
                        <p class="m-0 p-0 text-center">&pound; <%= x.price %></p>

                    </div>
                    <div class="card-footer">
                        <a href="#" class=" btn btn-info btn-sm">Buy</a>

                    </div>

                </div>
               
            </div>
            <% }) %>
        </div>
    </div>