<html>
    <head>
        <link type="text/css" rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="header">
            <div class="wrapper">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum commodi, enim nisi modi sequi blanditiis dolorum? Autem
                porro, vitae officia, mollitia unde alias, sit quis ipsum nostrum quae quaerat. Enim. Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Odio consequuntur, doloribus, quis deserunt impedit aperiam incidunt magnam iste provident
                quisquam pariatur fuga illo non libero commodi voluptates nihil! Dignissimos, ab.
            </div>
        </div>
        <div class="content">
            <div class="wrapper">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae repellat quisquam officiis, autem quae cupiditate blanditiis sed eligendi eos doloribus impedit cumque debitis quidem, alias recusandae qui ratione, ipsam incidunt? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum veniam dicta? Nesciunt, adipisci, magni ducimus velit beatae ullam cupiditate assumenda id sunt quo vitae aliquam saepe suscipit quod voluptatibus.
            </div>
        </div>
        <div class="footer">
            <div class="wrapper">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente aliquam porro possimus soluta eaque nulla nostrum ad ipsum deleniti doloribus, fugit numquam, ut temporibus eos, quas illum dolorum! A, odit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, magnam illo, dolorum obcaecati qui, nemo nam repudiandae quisquam laborum saepe necessitatibus sit molestiae natus. Fugiat sunt asperiores laudantium eum veritatis?
            </div>
        </div>
    </body>
</html>