<html>
    <head>
        <link type="text/css" rel="stylesheet" href="style2.css" />
    </head>
    <body>
        <div class="header">
            <div class="wrapper">
                <div class="left-header">
                    <p>Mon-Fri 09:00-17:00</p>
                </div>
                <div class="middle-header">
                    <p>090-445-85224</p>
                </div>
                <div class="right-header">
                    <div class="header-icon"></div>
                    <div class="header-icon"></div>
                    <div class="header-icon"></div>
                    <div class="header-icon" style="border-right:1px solid #fff"></div>
                </div>
            </div>
        </div>
        <div class="navbar">
            <div class="wrapper">
                <div class="logo">
                    <h1>My Website</h1>
                </div>
                <div class="menu"></div>
            </div>
        </div>
        <div class="slider">
            <div class="wrapper">
                <div class="inside-slider">
                    <h4>We are ready to help you</h4>
                    <h1>Lorem ipsum dolor sit dolor</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tempore quasi ad molestiae nesciunt <a href="#">help</a> cum rerum. Dolore labore porro accusamus excepturi, reprehenderit nesciunt quia nulla veritatis minus ipsum quas velit.</p>
                </div>
            </div>
        </div>

        <div class="contact">
            <div class="wrapper">
                <div class="left-contact"></div>
                <div class="right-contact"></div>
            </div>
        </div>
        <div class="content">
            <div class="wrapper"></div>
        </div>
        <div class="footer">
            <div class="wrapper"></div>
        </div>
    </body>
</html>