<html>
    <head>
        <link type="text/css" rel="stylesheet" href="style2.css" />
        <link type="text/css" rel="stylesheet" href="css/font-awesome.css" />
    </head>
    <body>
        <div class="header">
            <div class="wrapper">
                <div class="left-header">
                    <p><i class="fa fa-clock-o" aria-hidden="true"></i> Mon-Fri 09:00-17:00</p>
                </div>
                <div class="middle-header">
                    <p><i class="fa fa-phone" aria-hidden="true"></i> 090-445-85224</p>
                </div>
                <div class="right-header">
                    <div class="header-icon">
                        <a href="http://facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="header-icon">
                        <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                    
                    <div class="header-icon" style="border-right:1px solid #fff">
                        <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-bar">
            <div class="navbar">
                <div class="wrapper">
                    <div class="logo">
                        <h1>My Website</h1>
                    </div>
                    <div class="menu">
                        <ul>
                            
                            
                            <li>
                                <a href="#">Contact</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="slider">
                <div class="wrapper">
                    <div class="inside-slider">
                        <h4>We are ready to help you</h4>
                        <h1>Lorem ipsum dolor sit dolor</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tempore quasi ad molestiae nesciunt
                            <a href="#">help</a> cum rerum. Dolore labore porro accusamus excepturi, reprehenderit nesciunt quia
                            nulla veritatis minus ipsum quas velit.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact">
            <div class="wrapper">
                <div class="left-contact"></div>
                <div class="right-contact"></div>
            </div>
        </div>
        <div class="content">
            <div class="wrapper"></div>
        </div>
        <div class="footer">
            <div class="wrapper"></div>
        </div>
    </body>
</html>