<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo-area">
                    <a href="index.html"><img src="assets/images/logo/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="custom-navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="main-menu">
                    <ul>
                        <li class="active"><a routerLink="/">home</a></li>
                        <li><a routerLink="/about">about</a></li>
                        
                        <li><a href="#">menu</a>
                            <ul class="sub-menu">
                                <li *ngFor="let m of allMenu"><a href="#">{{ m.name }}</a></li>
                                
                            </ul>
                        </li>
                        <!-- <li><a href="#">Hello</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">Test1</a>
                                    <ul class="sub-menu super-sub-menu">
                                        <li>
                                            <a href="#">Demo1</a>
                                        </li>
                                        <li>
                                            <a href="#">Demo1</a>
                                        </li>
                                        <li>
                                            <a href="#">Demo1</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Test1</a>
                                    <ul class="sub-menu super-sub-menu">
                                        <li>
                                            <a href="#">Demo2</a>
                                        </li>
                                        <li>
                                            <a href="#">Demo2</a>
                                        </li>
                                        <li>
                                            <a href="#">Demo2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Test1</a>
                                </li>
                            </ul>
                        </li> -->
                        <!-- <li><a routerLink="/contact">contact</a></li> -->
                        <ng-template [ngIf]="_auth.isLoggedIn()" [ngIfElse]="logout_menu">
                            <li><a routerLink="/my-account">my-account</a></li>
                            <li><a href="#" (click)="_auth.logout()">logout</a></li>
                        </ng-template>

                        <ng-template #logout_menu>
                            <li><a routerLink="/signup">signup</a></li>
                            <li><a routerLink="/login">login</a></li>
                        </ng-template>
                        
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

<!-- Banner Area Starts -->
<section class="banner-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6>the most interesting food in the world</h6>
                <h1>Discover the <span class="prime-color">flavors</span><br>
                    <span class="style-change">of <span class="prime-color">food</span>fun</span>
                </h1>
            </div>
        </div>
    </div>
</section>