<%- include('header') %>
    <div class="container mt-3" style="background-color: chartreuse;" >
        <h1>About Page</h1>
        <a class="btn btn-info" href="/more">More</a>
        <a class="btn btn-primary" href="/info">Info</a>
    </div>