<!-- <app-welcome></app-welcome> -->
<section class="food-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-top">
                    <h3><span class="style-change">we serve</span> <br>delicious food</h3>
                    <p class="pt-3">They're fill divide i their yielding our after have him fish on there for greater
                        man moveth, moved Won't together isn't for fly divide mids fish firmament on net.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <app-show-dish class="col-md-4 col-sm-6" *ngFor="let x of allDish" [x]="x"></app-show-dish>            
        </div>
    </div>
</section>
<app-book-table></app-book-table>