<!-- <app-welcome></app-welcome> -->
<section class="food-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-top">
                    <h3><span class="style-change">we serve</span> <br>delicious food</h3>
                    <p class="pt-3">They're fill divide i their yielding our after have him fish on there for greater
                        man moveth, moved Won't together isn't for fly divide mids fish firmament on net.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let d of allDish" class="col-md-4 col-sm-6">
                <div class="single-food">
                    <div class="food-img">
                        <img src="assets/images/food1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>{{ d.name }}<small> ({{ d.menu }})</small></h5>
                            <span class="style-change">&#8377;{{ d.price }}</span>
                        </div>
                        <p class="pt-3">{{ d.detail }}</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<app-book-table></app-book-table>