div{
    width: 100%;
    height: 80px;
    background-color: #BBDD00;
}
div ul{
    margin: 0;
    padding: 0;
}
div ul li{
    float: left;
    list-style: none;
}
div ul li a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #FFF;
    background-color: #DFCD01;
    margin: 10px;
}