<h1>Terms Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quia repellendus aliquid rerum fugit reiciendis, expedita obcaecati accusamus at deserunt veniam perspiciatis aspernatur voluptate a beatae! Porro laborum molestiae rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat reiciendis ratione alias molestias quidem voluptatibus cum praesentium facere laboriosam exercitationem eveniet nemo aperiam est fugiat, id in. Consequatur, earum dicta.</p>

<app-info-box
    [name]="name"
    [address]="address"
    [path]="path"
></app-info-box>
